.post-content {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f3f1f7;
  list-style: none;
}

.up-votes {
  margin-right: 10px;
  display: flex;
  align-items: center;
  width: 50px;
}

.fa-thumbs-up {
  margin-left: 5px;
  padding: 5px;
}

.post-paragraphs {
  display: flex;
  flex-direction: column;
  flex: 1;
}
