.page-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-thought-button {
  width: 75%;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  background-color: white;
  margin: 10px;
  font-family: "Dosis", sans-serif;
  font-size: 18px;
}

.posts-list {
  width: 75%;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  padding: 20px 75px;
}
